body {
	background-color: #E6E6FA;
}

.container {
	text-align: center;
	margin-top: 100px;
}

h1 {
	font-size: 48px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #6A5ACD;
}

p {
	font-size: 24px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #8A2BE2;
}

#redirect-button {
	font-size: 24px;
	background-color: #8A2BE2;
	color: #FFFFFF;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
}

#redirect-button:hover {
	background-color: #6A5ACD;
}

.anime-container {
	position: fixed;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
}